* { 
   vertical-align: baseline;
   font-weight: inherit;
   font-family: inherit;
   font-style: inherit;
   font-size: 100%;
   border: 0 none;
   outline: 0;
   padding: 0;
   margin: 0;
}

body{
	background:grey;
	width:50%;
	margin:0 auto;
	}

header{	
		background:white;
	    border-width:0 none white;
	    border-radius: 10px;	
		
}

.main{
	background:white;
	border-width:0 none white;
	border-radius: 10px;
	font-family:sans-serif;
	text-align:justify;
	font-size:11pt;
	padding:3px;
	
}

	.logo{
	width:25%;
    padding:5px;
    float:left; 
    }
    
	.zagolovok{
	display:inline;
	padding:30px 5px ;
	float:left;
	font-weight:700;
	text-align:left;
	font-size: 36px;
    line-height: 40px;
}
	.clear {
    clear:left;
   }

   nav{
		padding-left:200px;
}
		.navi{
				list-style-type:none;
			}
			
		nav li{
				display: inline;
			}
			
			
			
			.submenu{
						display:none;
						position:absolute;
						top:80%;
						left:0;
						border: 1px solid black;
						background-color:white;
						border-radius:5px;
						text-align:left;
						width:70px;
						padding:5px;
					}
					.list {
						position:relative;
						}
					.list:hover .submenu{
						display:inline;
						margin:2px;
							}


	i, em{
		font-style:italic;
	}
	b,strong {
		font-weight:700;
}
	p{
		padding:5px;
	}
		
		.dopinfo{
			width:28%;
			float:right; 
			background-color:silver;
			border-radius: 10px;
			text-align:justify;
			font-family:serif;
			font-size:small;
			padding:2px;
			margin:5px;
		}
		.info{
			font-size: 16px;
			font-weight: 500;
			line-height: 15px;
			padding:3px;
		}
			ul{
				text-align: left;
				padding-left: 25px;
			}
			dt{
				font-weight: 700;
			}
			dd{
				padding-left: 20px;
			}
		h2{
		font-size: 30px;
		line-height: 40px;
		font-weight: 600;
	}
		h3{
		font-size: 24px;
		line-height: 40px;
		font-weight: 600;
	}
			
table{	
		width:300px;
		margin:auto;
	}
td{
	width:300px;
	height:30px;
	vertical-align: middle;
	
}
	
	.button{		
		border:1px solid silver;
		background: linear-gradient(white,silver);
		width:100%;
		height:100%;
	}
		.text{
			border:1px solid silver;
			width:99%;
			font-size: 16px;
			height:100%;
			padding-right:1px;
	}
			.total{
			border:1px solid silver;
			background: linear-gradient(white,silver);
			width:100%;
			height:62px;
				}
								
		
		.zero{
			border:1px solid silver;
			background: linear-gradient(white,silver);
			width:100%;
			height:100%;
		}
		.result{
			border:1px solid silver;
			background: linear-gradient(white,silver);
			margin:2px;
		}
	
	footer{
	text-align:center;
	padding:5px;
	background:white;
	border-width:0 none white;
	border-radius: 10px;
}
